@page "/"

<div class="row col-12 text-center">
    <h3>Welcome to HIT Lab NZ</h3>
</div>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, Guest!</h1>
    </NotAuthorized>
</AuthorizeView>

@code {

}
