@page "/"

<div class="row col-12 text-center">
    <h3>Welcome to HIT Lab NZ</h3>
</div>

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item ">
            <img src="/projectImages/HIT_Lab_NZ2022_Content_Update-27_1920.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item active">
            <img src="/projectImages/HIT_Lab_NZ2022_Content_Update-47_1920.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item ">
            <img src="/projectImages/HIT_Lab_NZ2022_Content_Update-52_1920.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, Guest!</h1>
    </NotAuthorized>
</AuthorizeView>

@code {

}
