@page "/people"

<PageTitle>People at HIT Lab NZ</PageTitle>

<h3 class="text-center">Staff</h3>
<hr/>

@if (SearchPeople == null)
{
    <h3>Loading data...</h3>
}
else
{
    var peopleCount = SearchPeople.Count();

    <SearchBar OnSearch="HandleSearch"></SearchBar>

    if(peopleCount > 0)
    {
        <div class="row mt-3 d-flex">
            <DisplayPeople people="SearchPeople"></DisplayPeople>
        </div>
        <hr class="mb-3" />
    }
}


@code {

    [Inject]
    public IPeopleRepository PeopleRepository { get; set; }

    //public IEnumerable<PersonModel> AllPeople { get; set; }

    public IEnumerable<PersonModel> SearchPeople { get; set; }

    public string searchTerm = "";

    protected override async Task OnInitializedAsync()
    {
        //AllPeople = await PeopleRepository.GetPeople();
        SearchPeople = await PeopleRepository.SearchPeople(searchTerm);
    }

    private async void HandleSearch(string filter)
    {
        searchTerm = filter;
        SearchPeople = await PeopleRepository.SearchPeople(searchTerm);
    }

}
